/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div.container {
  background-color: lightgrey;
  color: black;
  padding: 1%;
}

div.home {
  padding: 1%;
  width: 80%;
}

div.modal-header {
  background: dimgray;
  color: white;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: dimgray;
}

